<div class="row center-align">
</div>
<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
<div class="card-panel hoverable">
  <div class="row center-align">
    <div class="col s12 m12 l12 blue z-depth-4">
      <p><%= post.content %></p>
    </div>
    <div class="row center-align">
    </div>
    <div class="col s12 m12 l12 blue z-depth-4">
      <p>
        <% post.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<% end %>
