<div class="row">
  <div class="col s12  center-align">
    <span class="flow-text">This div is 12-columns wide on all screen sizes</span>
  </div>
  <div class="col s6 offset-s6">
    <span class="flow-text">6-columns (offset-by-6)</span>
  </div>
</div>


<div class="container center-align card-large">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card large">
        <div class="card-image">
          <!-- <img src="images/sample-1.jpg"> -->
          <span class="card-title">Welcome to Cowtown</span>
        </div>
        <div class="card-content">
          <p>We are crazy people</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>
